* {
    box-sizing: border-box;
}

/*body*/
body {

    background-color: indianred;
    align-items: center;
    font-size: 17px;
}

/*header*/
h1 {
    text-align: center;
    font-size: 50px;
    color: white;
    justify-content: center;
}

/*sub-header*/
h2 {
    border-bottom: 2px solid palevioletred;
    text-align: center;
    color: white;
}

/*container for sub-head/pss generator functions*/
#main-container {
    border: 1px solid palevioletred;
    width: 350px;
    height: 405px;
    background-color: darkred;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    bottom:0px;
    text-align:center;
}

/*container for secure pss*/
#secure-pass {
    border: 1px solid palevioletred;
    padding: 10px;
    height: 40px;
    background-color:white;
    text-align: center;
    width: 349px;
    color: black;
    font-size: 18px;
    letter-spacing: 1px;
}

/*I think it'd be a good idea to have checkmarks for the prompts instead of actual prompts when you go to a page, it's neater IMO*/
/*Pass length*/
#pass-line {
    color: white;
    text-align: center;
    margin-top: 15px;
}

/*pass length box*/
#pass-length {
    background-color: white;
    color: black;
    height: 25px;
    width: 40px;
    margin: 3px;
    text-align: center;
}

/*input line*/
#low-line,
#up-line,
#numb-line,
#symb-line {
    color: white;
    text-align: center;
    margin-top: 10px;
}

/*input box*/
#low-case,
#up-case,
#numb,
#symb {
    background-color: white;
    color: black;
    height: 20px;
    width: 20px;
    margin: 3px;
    text-align: center;
}

/*buttons on the bottom of the questions*/
#generate,
#clipboard { 
    margin: 5px;
    width: 250px;
    height: 30px;
    background-color: palevioletred;
    border: 1px solid palevioletred;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    padding: 5px;
}

#generate{
    margin-top: 15px;
}

/*hover over buttons*/
#generate:hover,
#clipboard:hover {
   opacity: 0.9;
   transition: transform 150ms;
   transform: translateY(-1px);
   font-weight: bold;
}